<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title hidden">Охота</h2>
    <p class="hero__description hero__description--left">
      Охота — это совместный поиск основателей скам-проекта, их поимка,
      <span>привлечение к ответственности и возврат средств инвесторам.</span>
    </p>
    <img class="hero__title-decor" src="./assets/images/coin-decor.png" alt="Монета" />
    <picture>
      <source media="(max-width: 576px)" srcset="./assets/icons/hunt-hero-title-text--mobile.svg" />
      <img
        class="hero__title-decor-text"
        src="./assets/icons/hunt-hero-title-text.svg"
        alt="Надпись зелёного цвета 'Охота', а на заднем плане надпись 'Scam'"
      />
    </picture>
    <p class="hero__description hero__description--right">
      Охота командой ScamHunter будет проходить <span>в&nbsp;рамках законов соответствующих стран.</span>
    </p>
  </div>
</section>
