<section class="hunt-success">
  <div class="container hunt-success__container">
    <h2 class="hunt-success__title">О наших успехах</h2>
    <p class="hunt-success__subtitle heading-h2">успешная охота</p>
    <div class="hunt-success__wrapper">
      <ul class="hunt-success__list">
        <li class="hunt-success__card">
          <a class="hunt-success__card-link" href="#">
            <div class="hunt-success__card-img">
              <img
                width="545"
                height="284"
                src="./assets/images/success-hunt-img-1.jpg"
                alt="Описание изображения"
              />
            </div>
            <div class="hunt-success__card-info">
              <h3 class="hunt-success__card-title">Binance Coin</h3>
              <p class="hunt-success__card-mining">
                <img
                  width="15"
                  height="14"
                  src="./assets/icons/grey-coins-icon.svg"
                  alt="Серая иконка монет"
                />Добыча:
                <span>152 500$</span>
              </p>
              <p class="hunt-success__card-participants">
                <img
                  width="11"
                  height="13"
                  src="./assets/icons/grey-person-icon.svg"
                  alt="Серая иконка человека"
                />Участников:
                <span>156 252</span>
              </p>
            </div>
          </a>
        </li>
        <li class="hunt-success__card">
          <a class="hunt-success__card-link" href="#">
            <div class="hunt-success__card-img">
              <img
                width="545"
                height="284"
                src="./assets/images/success-hunt-img-1.jpg"
                alt="Описание изображения"
              />
            </div>
            <div class="hunt-success__card-info">
              <h3 class="hunt-success__card-title">Binance Coin</h3>
              <p class="hunt-success__card-mining">
                <img
                  width="15"
                  height="14"
                  src="./assets/icons/grey-coins-icon.svg"
                  alt="Серая иконка монет"
                />Добыча:
                <span>152 500$</span>
              </p>
              <p class="hunt-success__card-participants">
                <img
                  width="11"
                  height="13"
                  src="./assets/icons/grey-person-icon.svg"
                  alt="Серая иконка человека"
                />Участников:
                <span>156 252</span>
              </p>
            </div>
          </a>
        </li>
        <li class="hunt-success__card">
          <a class="hunt-success__card-link" href="#">
            <div class="hunt-success__card-img">
              <img
                width="545"
                height="284"
                src="./assets/images/success-hunt-img-1.jpg"
                alt="Описание изображения"
              />
            </div>
            <div class="hunt-success__card-info">
              <h3 class="hunt-success__card-title">Binance Coin</h3>
              <p class="hunt-success__card-mining">
                <img
                  width="15"
                  height="14"
                  src="./assets/icons/grey-coins-icon.svg"
                  alt="Серая иконка монет"
                />Добыча:
                <span>152 500$</span>
              </p>
              <p class="hunt-success__card-participants">
                <img
                  width="11"
                  height="13"
                  src="./assets/icons/grey-person-icon.svg"
                  alt="Серая иконка человека"
                />Участников:
                <span>156 252</span>
              </p>
            </div>
          </a>
        </li>
        <li class="hunt-success__card">
          <a class="hunt-success__card-link" href="#">
            <div class="hunt-success__card-img">
              <img
                width="545"
                height="284"
                src="./assets/images/success-hunt-img-1.jpg"
                alt="Описание изображения"
              />
            </div>
            <div class="hunt-success__card-info">
              <h3 class="hunt-success__card-title">Binance Coin</h3>
              <p class="hunt-success__card-mining">
                <img
                  width="15"
                  height="14"
                  src="./assets/icons/grey-coins-icon.svg"
                  alt="Серая иконка монет"
                />Добыча:
                <span>152 500$</span>
              </p>
              <p class="hunt-success__card-participants">
                <img
                  width="11"
                  height="13"
                  src="./assets/icons/grey-person-icon.svg"
                  alt="Серая иконка человека"
                />Участников:
                <span>156 252</span>
              </p>
            </div>
          </a>
        </li>
        <li class="hunt-success__card">
          <a class="hunt-success__card-link" href="#">
            <div class="hunt-success__card-img">
              <img
                width="545"
                height="284"
                src="./assets/images/success-hunt-img-1.jpg"
                alt="Описание изображения"
              />
            </div>
            <div class="hunt-success__card-info">
              <h3 class="hunt-success__card-title">Binance Coin</h3>
              <p class="hunt-success__card-mining">
                <img
                  width="15"
                  height="14"
                  src="./assets/icons/grey-coins-icon.svg"
                  alt="Серая иконка монет"
                />Добыча:
                <span>152 500$</span>
              </p>
              <p class="hunt-success__card-participants">
                <img
                  width="11"
                  height="13"
                  src="./assets/icons/grey-person-icon.svg"
                  alt="Серая иконка человека"
                />Участников:
                <span>156 252</span>
              </p>
            </div>
          </a>
        </li>
        <li class="hunt-success__card">
          <a class="hunt-success__card-link" href="#">
            <div class="hunt-success__card-img">
              <img
                width="545"
                height="284"
                src="./assets/images/success-hunt-img-1.jpg"
                alt="Описание изображения"
              />
            </div>
            <div class="hunt-success__card-info">
              <h3 class="hunt-success__card-title">Binance Coin</h3>
              <p class="hunt-success__card-mining">
                <img
                  width="15"
                  height="14"
                  src="./assets/icons/grey-coins-icon.svg"
                  alt="Серая иконка монет"
                />Добыча:
                <span>152 500$</span>
              </p>
              <p class="hunt-success__card-participants">
                <img
                  width="11"
                  height="13"
                  src="./assets/icons/grey-person-icon.svg"
                  alt="Серая иконка человека"
                />Участников:
                <span>156 252</span>
              </p>
            </div>
          </a>
        </li>
        <li class="hunt-success__card">
          <a class="hunt-success__card-link" href="#">
            <div class="hunt-success__card-img">
              <img
                width="545"
                height="284"
                src="./assets/images/success-hunt-img-1.jpg"
                alt="Описание изображения"
              />
            </div>
            <div class="hunt-success__card-info">
              <h3 class="hunt-success__card-title">Binance Coin</h3>
              <p class="hunt-success__card-mining">
                <img
                  width="15"
                  height="14"
                  src="./assets/icons/grey-coins-icon.svg"
                  alt="Серая иконка монет"
                />Добыча:
                <span>152 500$</span>
              </p>
              <p class="hunt-success__card-participants">
                <img
                  width="11"
                  height="13"
                  src="./assets/icons/grey-person-icon.svg"
                  alt="Серая иконка человека"
                />Участников:
                <span>156 252</span>
              </p>
            </div>
          </a>
        </li>
        <li class="hunt-success__card">
          <a class="hunt-success__card-link" href="#">
            <div class="hunt-success__card-img">
              <img
                width="545"
                height="284"
                src="./assets/images/success-hunt-img-1.jpg"
                alt="Описание изображения"
              />
            </div>
            <div class="hunt-success__card-info">
              <h3 class="hunt-success__card-title">Binance Coin</h3>
              <p class="hunt-success__card-mining">
                <img
                  width="15"
                  height="14"
                  src="./assets/icons/grey-coins-icon.svg"
                  alt="Серая иконка монет"
                />Добыча:
                <span>152 500$</span>
              </p>
              <p class="hunt-success__card-participants">
                <img
                  width="11"
                  height="13"
                  src="./assets/icons/grey-person-icon.svg"
                  alt="Серая иконка человека"
                />Участников:
                <span>156 252</span>
              </p>
            </div>
          </a>
        </li>
      </ul>
      <ul class="hunt-success__pagination">
        <li class="hunt-success__pagination-item">
          <a
            class="hunt-success__pagination-link hunt-success__pagination-link--not-active hunt-success__pagination-link--prev"
            href="#"
          >
            <svg
              width="9"
              height="12"
              viewBox="0 0 9 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.15997 1.41L3.57997 6L8.15997 10.59L6.74997 12L0.749973 6L6.74997 0L8.15997 1.41Z"
                fill="#BDBDBD"
              />
            </svg>
          </a>
        </li>
        <li class="hunt-success__pagination-item">
          <a class="hunt-success__pagination-link hunt-success__pagination-link--active" href="#"
            >1</a
          >
        </li>
        <li class="hunt-success__pagination-item">
          <a class="hunt-success__pagination-link" href="#">2</a>
        </li>
        <li class="hunt-success__pagination-item">
          <a class="hunt-success__pagination-link hunt-success__pagination-link--center" href="#"
            >...</a
          >
        </li>
        <li class="hunt-success__pagination-item">
          <a class="hunt-success__pagination-link" href="#">9</a>
        </li>
        <li class="hunt-success__pagination-item">
          <a class="hunt-success__pagination-link" href="#">10</a>
        </li>
        <li class="hunt-success__pagination-item">
          <a class="hunt-success__pagination-link hunt-success__pagination-link--next" href="#">
            <svg
              width="9"
              height="12"
              viewBox="0 0 9 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.839966 1.41L5.41997 6L0.839966 10.59L2.24997 12L8.24997 6L2.24997 0L0.839966 1.41Z"
                fill="white"
              />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
