.about {
  overflow: hidden;
  padding-bottom: 136px;

  @include tablet {
    padding-bottom: 66px;
  }

  @include mobile {
    padding-bottom: 41px;
  }

  &__container {
    position: relative;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.05;
    text-align: center;
    color: var(--text-color-50);

    @include mobile {
      font-size: 16px;
      text-align: start;
    }
  }

  &__subtitle {
    margin-bottom: 71px;
    text-align: center;

    @include tablet {
      margin-bottom: 51px;
    }

    @include mobile {
      margin-bottom: 31px;
      text-align: start;
    }
  }

  &__info {
    display: grid;
    gap: 15px 12px;
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    border: 1px solid var(--border-color-30);
    border-radius: 12px;
    padding: 43px 45px 60px 35px;
    background: var(--bg-color-40);
    backdrop-filter: blur(17.85px);

    @include mini-desktop {
      padding: 30px 25px 60px;
    }

    @include mobile {
      padding: 30px 20px 60px;
    }

    &:nth-child(2) {
      background: var(--bg-color-60);
    }

    &:nth-child(3) {
      @include tablet {
        grid-column: span 2;
      }

      @include small-tablet {
        grid-column: 1;
      }
    }

    &-title {
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 25px;
      line-height: 1.1;
      letter-spacing: -0.04em;
      color: var(--accent-color-10);

      @include mobile {
        margin-bottom: 20px;
        font-size: 23px;
      }
    }

    &-description {
      line-height: 1.61;

      @include mobile {
        font-size: 15px;
        line-height: 1.51;
      }
    }

    &-list {
      @include flex-column;
      gap: 12px;
    }

    &-item {
      display: flex;
      gap: 19px;
      align-items: baseline;
      line-height: 1.75;
    }

    &-icon {
      @include flex-all-center;
      position: relative;
      flex-shrink: 0;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      box-shadow: 0 3px 4px 0 #00000085;
      background: linear-gradient(170deg, #f3f3f3 0%, #b4b4b4 100%);

      &::before {
        content: '';
        position: absolute;
        z-index: var(--z-index-minus-1);
        border-radius: 50%;
        width: 22px;
        height: 22px;
        background-color: var(--bg-color-50);
      }
    }
  }

  &__background {
    position: absolute;
    top: 50px;
    right: -300px;
    z-index: var(--z-index-minus-1);

    @include tablet {
      top: 200px;
      right: -100px;
    }

    @include small-tablet {
      inset: 100px 0 0;
      height: 100%;
    }

    @include mobile {
      inset: 200px 0 auto;
      transform: scale(1.13);
    }

    @include small-mobile {
      transform: scale(1);
    }
  }
}
