.hero {
  overflow: hidden;

  &__container {
    position: relative;
  }

  &__title {
    &-decor {
      position: absolute;
      top: 50px;
      right: 20px;
      pointer-events: none;

      @include small-desktop {
        width: 800px;
        height: 600px;
      }

      @include mini-desktop {
        width: 600px;
        height: 400px;
      }

      @include tablet {
        top: -20px;
        right: -70px;
        width: 600px;
        height: 300px;
      }

      @include small-tablet {
        top: -18px;
        right: -20px;
        width: 470px;
        height: 270px;
      }

      @include mobile {
        top: 15px;
        right: -40px;
        width: 300px;
        height: 180px;
      }

      @include small-mobile {
        top: 27px;
        right: -20px;
        width: 250px;
        height: 140px;
      }

      &-text {
        width: 100%;
        pointer-events: none;
      }
    }
  }

  &__description {
    position: absolute;
    z-index: var(--z-index-1);
    max-width: 440px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.05;
    letter-spacing: -0.02em;

    @include tablet {
      max-width: 330px;
      font-size: 18px;
    }

    @include small-tablet {
      max-width: 294px;
      font-size: 16px;
    }

    @include mobile {
      max-width: 257px;
      font-size: 14px;
    }

    &--left {
      top: 30px;
      left: 15px;

      @include mini-desktop {
        top: 0;
      }

      @include mobile {
        position: relative;
        top: 20px;
      }
    }

    &--right {
      right: 15px;
      bottom: 120px;
      text-align: right;

      @include mini-desktop {
        bottom: 70px;
      }

      @include small-tablet {
        bottom: 40px;
      }

      @include mobile {
        bottom: 10px;
      }
    }

    & span {
      color: var(--text-color-20);
    }
  }
}
