.support {
  padding-bottom: 100px;

  &__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.05;
    text-align: center;
    color: var(--text-color-50);
  }

  &__subtitle {
    margin-bottom: 58px;
    font-family: Furore, sans-serif;
    font-size: 74px;
    line-height: 1.05;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #fff 69.19%, #fff0 70.97%, #fff 89.9%);
    background-clip: text;
  }

  &__list {
    display: grid;
    gap: 25px 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    @include flex-column;
    position: relative;
    justify-content: space-between;
    border: 1px solid var(--border-color-40);
    border-radius: 12px;
    padding: 39px 31px 32px;
    background: #0000;
    backdrop-filter: blur(35.7px);

    &-icon {
      @include flex-all-center;
      margin-bottom: 55px;
      width: 95px;
      height: 95px;
    }

    &-count {
      position: absolute;
      top: 32px;
      right: 16px;
      font-family: Aeonik, sans-serif;
      font-weight: 500;
      line-height: 1.55;
      color: #ffffffc2;
      opacity: 0.54;
    }

    &-title {
      margin-bottom: 25px;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.15;
    }

    &-description {
      margin-bottom: 31px;
      font-size: 16px;
      line-height: 1.55;
      color: #ffffffa8;
    }

    &-button {
      @include flex-all-center;
      gap: 9px;
      border: 1px solid #97ec3985;
      border-radius: 7px;
      padding: 15px 20px 14px;
      font-size: 15px;
      line-height: 1.3;
      color: var(--text-color-40);
      background: #1212121c;
      backdrop-filter: blur(16.1px);
    }
  }
}
