<section class="hero">
  <div class="container">
    <h2 class="hero__title">О нашей компании</h2>
    <p class="hero__subtitle heading-h2">scam лист</p>
    <ul class="hero__list">
      <li class="hero__card">
        <div class="hero__card-icon">
          <img src="./assets/icons/folder-icon-green.svg" alt="Иконка папки" />
        </div>
        <span class="hero__card-count">001</span>
        <h3 class="hero__card-title">
          Защита <br />
          вложений
        </h3>
        <p class="hero__card-description">
          SCAM LIST создан как глобальный справочник для инвесторов, позволяющий проверить
          надёжность проекта перед вложением средств.
        </p>
      </li>
      <li class="hero__card">
        <div class="hero__card-icon">
          <img src="./assets/icons/list-icon-green.svg" alt="Иконка списка" />
        </div>
        <span class="hero__card-count">002</span>
        <h3 class="hero__card-title">База мошенников</h3>
        <p class="hero__card-description">
          В список попадают только те, чьи противоправные действия доказаны и подтверждены.
        </p>
      </li>
      <li class="hero__card">
        <div class="hero__card-icon">
          <img src="./assets/icons/index-icon-green.svg" alt="Иконка индекса" />
        </div>
        <span class="hero__card-count">003</span>
        <h3 class="hero__card-title">
          Индекс <br />
          рисков
        </h3>
        <p class="hero__card-description">
          SCAM LIST — это международный реестр компаний и физических лиц, замеченных в
          мошенничестве, манипуляциях или обмане в сфере криптовалют.
        </p>
      </li>
      <li class="hero__card">
        <div class="hero__card-icon">
          <img src="./assets/icons/shield-icon-green.svg" alt="Иконка щита с галочкой" />
        </div>
        <span class="hero__card-count">004</span>
        <h3 class="hero__card-title">
          Проверка перед <br />
          инвестициями
        </h3>
        <p class="hero__card-description">
          Пользователь может бесплатно проверить проект, компанию или человека по SCAM LIST, чтобы
          избежать сотрудничества с мошенниками.
        </p>
      </li>
      <li class="hero__card">
        <div class="hero__card-icon">
          <img src="./assets/icons/planet-icon-green.svg" alt="Иконка планеты" />
        </div>
        <span class="hero__card-count">005</span>
        <h3 class="hero__card-title">Международный <br /> охват</h3>
        <p class="hero__card-description">
          Данные регулярно обновляются и включают случай мошенничества из разных стран.
        </p>
      </li>
    </ul>
  </div>
</section>
