<section class="reasons">
  <div class="container">
    <h2 class="reasons__title">Факторы риска</h2>
    <p class="reasons__subtitle heading-h2">Основные причины добавления <span>в Scam List</span></p>
    <ul class="reasons__list">
      <li class="reasons__item">
        <div class="reasons__item-head">
          <span class="reasons__item-count">01</span>
          <div class="reasons__item-icon">
            <img
              src="./assets/icons/reasons-green-icon-man-with-a-bag.svg"
              alt="Иконка человека с мешком"
            />
          </div>
          <h2 class="reasons__item-title">
            Rug <br />
            pull
          </h2>
        </div>
        <p class="reasons__item-description">
          Внезапный вывод ликвидности или закрытие проекта разработчиками после сбора средств.
          <br />
          Примеры:
          <br />
          • Исчезновение команды с деньгами инвесторов.
          <br />
          • Резкий обвал токена из-за продажи командой своей доли.
        </p>
      </li>
      <li class="reasons__item">
        <div class="reasons__item-head">
          <span class="reasons__item-count">02</span>
          <div class="reasons__item-icon">
            <img src="./assets/icons/reasons-green-icon-thief.svg" alt="Иконка человека с мешком" />
          </div>
          <h2 class="reasons__item-title">
            Обман <br />
            инвесторов
          </h2>
        </div>
        <p class="reasons__item-description">
          • Сокрытие реальных финансовых показателей.
          <br />
          • Подделка аудитов, фальшивые партнёрства (например, мнимые сотрудничества с Binance или
          Visa).
          <br />
          • Манипуляция графиками токенов через «накрутку» объёмов. 
        </p>
      </li>
      <li class="reasons__item">
        <div class="reasons__item-head">
          <span class="reasons__item-count">03</span>
          <div class="reasons__item-icon">
            <img src="./assets/icons/reasons-green-icon-hand.svg" alt="Иконка человека с мешком" />
          </div>
          <h2 class="reasons__item-title">
            Ложные <br />
            обещания
          </h2>
        </div>
        <p class="reasons__item-description">
          • Гарантии сверхприбыли («x100 за месяц», «безрисковые инвестиции»).
          <br />
          • Нереалистичные заявления о технологиях
          <br />
          («революционный блокчейн 10.0» без технической базы).
        </p>
      </li>
      <li class="reasons__item">
        <div class="reasons__item-head">
          <span class="reasons__item-count">04</span>
          <div class="reasons__item-icon">
            <img
              src="./assets/icons/reasons-green-icon-exclamation-point.svg"
              alt="Иконка человека с мешком"
            />
          </div>
          <h2 class="reasons__item-title">
            Невыполнение <br />
            обязательств 
          </h2>
        </div>
        <p class="reasons__item-description">
          • Отказ от выполнения дорожной карты (например, обещали запуск DEX, но выпустили ещё один
          мем-токен).
          <br />
          • Систематические задержки выплат стейкинга или дивидендов без причин.
          <br />
          • Игнорирование запросов инвесторов (удаление чатов, блокировка критиков).
        </p>
      </li>
    </ul>
  </div>
</section>
