.footer {
  padding-bottom: 24px;

  @include mobile {
    padding-bottom: 49px;
  }

  &__container {
    border-top: 1px solid var(--border-color-60);
    padding-top: 43px;

    @include mobile {
      padding-top: 20px;
    }
  }

  &__top {
    @include flex-justify-between-align-center;
    gap: 59px 30px;
    margin-bottom: 60px;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  &__info {
    &-description {
      max-width: 324px;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.05;
      letter-spacing: -0.02em;

      @include small-tablet {
        max-width: 270px;
        font-size: 20px;
      }

      @include mobile {
        max-width: 367px;
      }

      @include small-mobile {
        max-width: 275px;
        font-size: 15px;
      }

      & span {
        color: var(--text-color-20);
      }
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 17px;

    @include mobile {
      margin-bottom: 4px;
    }
  }

  &__nav {
    @include tablet {
      display: none;
    }

    &-title {
      margin-bottom: 23px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.36;
      letter-spacing: 0.03em;
      color: var(--text-color-90);
    }

    &-item {
      font-family: Aeonik, sans-serif;
      line-height: 1;

      &:not(:last-child) {
        margin-bottom: 31px;
      }
    }

    &-link {
      color: var(--text-color-40);
      transition: color var(--transition);

      &:hover {
        color: var(--accent-color-30);
      }
    }
  }

  &__socials {
    font-style: normal;

    &-description {
      margin-bottom: 27px;
      max-width: 313px;
      font-size: 25px;
      line-height: 1.03;

      @include small-tablet {
        max-width: 244px;
        font-size: 20px;
      }

      @include mobile {
        margin-bottom: 17px;
        max-width: 304px
      }

      @include small-mobile {
        max-width: 228px;
        font-size: 15px;
      }
    }

    &-list {
      @include flex-align-center;
      gap: 6px;
    }

    &-link {
      @include flex-all-center;
      border: 1px solid var(--border-color-10);
      border-radius: 7px;
      width: 58px;
      height: 58px;
      background-color: var(--bg-color-20);
      transition:
        background-color var(--transition),
        border-color var(--transition);

      & path {
        transition: fill var(--transition);
      }

      &:hover {
        border-color: var(--accent-color-30);
        background-color: var(--accent-color-10);

        & path {
          fill: var(--text-color-10);
        }
      }
    }
  }

  &__bottom {
    @include tablet {
      display: none;
    }

    &-list {
      @include flex-justify-between-align-center;
    }

    &-link {
      line-height: 1.17;
      text-align: center;
      text-decoration: underline;
      color: var(--text-color-80);
      opacity: 0.57;
      text-decoration-skip-ink: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
