.header {
  padding: 30px 0;

  @include mobile {
    padding: 16px 0;
  }

  &__container {
    @include flex-justify-between-align-center;
  }

  &__logo {
    z-index: var(--z-index-1);
  }

  &__info {
    @include flex-align-center;
    gap: 188px;

    @include small-desktop {
      gap: 88px;
    }

    @include mini-desktop {
      gap: 47px;
    }

    @include tablet {
      position: fixed;
      inset: 0;
      flex-direction: column;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      background-color: var(--bg-color-10);
      padding-inline: 15px;
    }
  }

  &__right {
    @include flex-align-center;
    gap: 20px;

    @include tablet {
      flex-direction: column;
    }
  }

  &__language {
    @include tablet {
      order: 2;
    }

    &-list {
      @include flex-align-center;
      gap: 13px;
    }

    &-link {
      font-family: Aeonik, sans-serif;
      font-weight: 500;
      line-height: 1;
      color: var(--text-color-40);
      opacity: 0.41;
      transition:
        opacity var(--transition),
        color var(--transition);

      &:hover {
        color: var(--accent-color-10);
        opacity: 1;
      }

      &--active {
        color: var(--accent-color-10);
        opacity: 1;
      }
    }
  }

  &__socials {
    @include tablet {
      order: 1;
    }

    &-list {
      @include flex-align-center;
      gap: 5px;
    }

    &-link {
      @include flex-all-center;
      border: 1px solid var(--border-color-10);
      border-radius: 6px;
      width: 49px;
      height: 49px;
      background-color: var(--bg-color-20);
      transition:
        background-color var(--transition),
        border-color var(--transition);

      & path {
        transition: fill var(--transition);
      }

      &:hover {
        border-color: var(--accent-color-30);
        background-color: var(--accent-color-10);

        & path {
          fill: var(--text-color-10);
        }
      }
    }
  }

  &__burger {
    z-index: var(--z-index-1);
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color-10);
    border-radius: 6px;
    width: 49px;
    height: 49px;
    background-color: var(--bg-color-30);
    transition:
      background-color var(--transition),
      border-color var(--transition);

    /* stylelint-disable-next-line no-descending-specificity */
    & path {
      transition: fill var(--transition);
    }

    &:hover {
      border-color: var(--accent-color-30);
      background-color: var(--accent-color-10);

      & path {
        fill: var(--text-color-10);
      }
    }

    @include tablet {
      display: flex;
    }
  }
}

.nav {
  @include tablet {
    width: 100%;
  }

  &__list {
    @include flex-align-center;
    gap: 52px;

    @include mini-desktop {
      gap: 34px;
    }

    @include tablet {
      gap: 23px;
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__link {
    font-family: Aeonik, sans-serif;
    line-height: 1;
    color: var(--text-color-40);
    transition: color var(--transition);

    @include tablet {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid var(--border-color-20);
      padding-bottom: 17px;
    }

    &:hover {
      color: var(--accent-color-30);
    }

    &--active {
      color: var(--accent-color-30);
    }

    & svg {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }
}
