<section class="hero">
  <div class="hero__decor-background">
    <img width="1800" height="1040" src="./assets/images/hero-shield-bg.png" alt="Блики света" />
  </div>
  <div class="container hero__container">
    <div class="hero__decor">
      <img
        width="634"
        height="951"
        src="./assets/images/hero-shield-decor.png"
        alt="Изображение щита с черепом в который воткнули нож"
      />
    </div>
    <div class="hero__left">
      <h2 class="hero__title">Гарантия прозрачности</h2>
      <p class="hero__subtitle heading-h2">Scam Hunter Shield</p>
      <p class="hero__description">
        ScamHunter Shield — это проекты, которые прошли проверку ScamHunter на предмет
        мошенничества. Мы тщательно анализируем каждый аспект проекта, чтобы убедиться в его
        честности и прозрачности.
      </p>
      <div class="hero__info">
        <h3 class="hero__info-title">Как проект попадает в ScamHunter Shield?</h3>
        <ul class="hero__info-list">
          <li class="hero__info-item">
            <span>1.</span>Проверка на мошенничество: ScamHunter проводит аудит проекта, включая
            анализ дорожной карты, команды и финансовой модели.
          </li>
          <li class="hero__info-item">
            <span>2.</span>Верификация создателей: Команда проекта проходит обязательную проверку
            KYC в ScamHunter. Мы убеждаемся, что создатели открыты, честны и имеют реальные
            намерения развивать свой продукт.
          </li>
        </ul>
        <h3 class="hero__info-title">Почему это важно?</h3>
        <p class="hero__info-description">
          ScamHunter Shield — это символ доверия и безопасности в криптоиндустрии. Команды
          проверенные ScamHunter заслуживают больше доверия чем любой новый проект. ScamHunter
          стремится создать экосистему, где каждый участник может чувствовать себя немного
          безопасней. Мы помогаем честным проектам вырасти и заслужить доверие сообщества.
        </p>
      </div>
    </div>
  </div>
</section>
