<section class="about">
  <div class="container">
    <div class="single-container about__container">
      <h2 class="about__title">О проекте</h2>
      <div class="about__right">
        <p class="about__right-description">
          SafeChain — это один из самых надёжных и прозрачных проектов на рынке криптовалют,
          заслуживший доверие как пользователей, так и экспертов. Вот почему он попал в наш список
          проверенных:
        </p>
        <h3 class="about__right-title">Уникальные возможности</h3>
        <p class="about__right-description">
          &ensp;&bull;&ensp;открытый код и регулярные независимые аудиты безопасности <br />
          &ensp;&bull;&ensp;активное и поддерживающее сообщество (Telegram и Discord, AMA-сессии)
          <br />
          &ensp;&bull;&ensp;прозрачная команда с открытыми профилями <br />
          &ensp;&bull;&ensp;регулярные отчёты, обновления и публикация дорожной карты <br />
          &ensp;&bull;&ensp;передовые механизмы защиты средств и антискам-защита <br />
          &ensp;&bull;&ensp;постоянное внедрение новых решений и развитие проекта <br />
        </p>
      </div>
    </div>
  </div>
</section>
