<section class="target">
  <div class="container">
    <div class="single-container target__container">
      <h2 class="target__title">Для кого это</h2>
      <div class="target__right">
        <div class="target__right-info">
          <p class="target__right-description">
            Наша криптовалюта подходит как для частных инвесторов, так и для бизнесов, стремящихся к
            новым финансовым решениям.
          </p>
          <div class="target__right-controls">
            <button class="target__right-button target__right-button--prev" aria-label="Листать назад">
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M23.5607 7.93934C22.9749 7.35355 22.0251 7.35355 21.4393 7.93934L12.4393 16.9393C11.8536 17.5251 11.8536 18.4749 12.4393 19.0607L21.4393 28.0607C22.0251 28.6464 22.9749 28.6464 23.5607 28.0607C24.1464 27.4749 24.1464 26.5251 23.5607 25.9393L15.6213 18L23.5607 10.0607C24.1464 9.47487 24.1464 8.52513 23.5607 7.93934Z"
                  fill="white"
                  fill-opacity="1"
                />
              </svg>
            </button>
            <div class="target__right-pagination"></div>
            <button class="target__right-button target__right-button--next" aria-label="Листать далее">
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.4393 7.93934C13.0251 7.35355 13.9749 7.35355 14.5607 7.93934L23.5607 16.9393C24.1464 17.5251 24.1464 18.4749 23.5607 19.0607L14.5607 28.0607C13.9749 28.6464 13.0251 28.6464 12.4393 28.0607C11.8536 27.4749 11.8536 26.5251 12.4393 25.9393L20.3787 18L12.4393 10.0607C11.8536 9.47487 11.8536 8.52513 12.4393 7.93934Z"
                  fill="white"
                  fill-opacity="1"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="target__right-slider swiper">
          <ul class="target__right-list swiper-wrapper">
            <li class="target__right-item swiper-slide">
              <img
                class="target__right-img"
                src="./assets/images/single-page-img-1.jpg"
                alt="Биток вырос, а я нет"
              />
            </li>
            <li class="target__right-item swiper-slide">
              <img
                class="target__right-img"
                src="./assets/images/single-page-img-2.jpg"
                alt="Биток вырос, а я нет"
              />
            </li>
            <li class="target__right-item swiper-slide">
              <img
                class="target__right-img"
                src="./assets/images/single-page-img-1.jpg"
                alt="Биток вырос, а я нет"
              />
            </li>
            <li class="target__right-item swiper-slide">
              <img
                class="target__right-img"
                src="./assets/images/single-page-img-1.jpg"
                alt="Биток вырос, а я нет"
              />
            </li>
            <li class="target__right-item swiper-slide">
              <img
                class="target__right-img"
                src="./assets/images/single-page-img-2.jpg"
                alt="Биток вырос, а я нет"
              />
            </li>
            <li class="target__right-item swiper-slide">
              <img
                class="target__right-img"
                src="./assets/images/single-page-img-1.jpg"
                alt="Биток вырос, а я нет"
              />
            </li>
            <li class="target__right-item swiper-slide">
              <img
                class="target__right-img"
                src="./assets/images/single-page-img-2.jpg"
                alt="Биток вырос, а я нет"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
