<section class="success">
  <div class="container success__container">
    <div class="success__icon">
      <img width="92" height="92" src="./assets/icons/succes-icon.svg" alt="Иконка галочки" />
    </div>
    <h2 class="success__title">Спасибо</h2>
    <p class="success__description">
      Вы успешно создали охоту, идет проверка. Ждите модератора ScamHunter в своем телеграм канале
      для передачи ему прав. Удачной охоты охотник!
    </p>
    <a class="success__button button" href="/ScamHunter/">Готово</a>
  </div>
</section>
