:root {
  // text color
  --text-color-10: #000;
  --text-color-20: #616161;
  --text-color-30: #090909;
  --text-color-40: #fff;
  --text-color-50: #90959f;
  --text-color-60: #ffffffc2;
  --text-color-70: #dadada;
  --text-color-80: #ffffffa1;
  --text-color-90: #fff6;
  --text-color-100: #243214;
  --text-color-110: #bdbdbd;
  --text-color-120: #ffffff75;
  --text-color-130: #666;
  --text-color-140: #ffffff6e;
  --text-color-150: #ffffffbf;
  --text-color-160: #66696e;
  --text-color-170: #fffffff2;
  --text-color-180: #ffffff82;
  --text-color-190: #ffffff54;
  --text-color-200: #ffffff7a;

  // accent text color
  --accent-color-10: #98ed3a;
  --accent-color-20: #b0fa5d;
  --accent-color-30: #87ff00;
  --accent-color-40: #f3bc36;
  --accent-color-50: #609227;

  // background color
  --bg-color-10: #040408;
  --bg-color-20: #171b23;
  --bg-color-30: #282e3b;
  --bg-color-40: #00000021;
  --bg-color-50: #3c3c3c;
  --bg-color-60: #000000c2;
  --bg-color-70: #0000;
  --bg-color-80: #ffffffa8;
  --bg-color-90: #1212121c;
  --bg-color-100: #17191b73;
  --bg-color-110: #3a3737;
  --bg-color-120: #17191b69;
  --bg-color-130: #232833;
  --bg-color-140: #2f323e;
  --bg-color-150: #242831;
  --bg-color-160: #ababab38;
  --bg-color-170: #d9d9d912;
  --bg-color-180: #fff;
  --bg-color-190: #0d0c0c70;
  --bg-color-200: #0b0c0f;
  --bg-color-210: #d9d9d90f;
  --bg-color-220: #17191bb5;
  --bg-color-230: #4f4f4f;
  --bg-color-240: #484848b5;

  // border
  --border-color-10: #1c1f23;
  --border-color-20: #ffffff3b;
  --border-color-30: #0ab06b75;
  --border-color-40: #5d636170;
  --border-color-50: #97ec3985;
  --border-color-60: #ffffff45;
  --border-color-70: #464d5354;
  --border-color-80: #ffffff36;
  --border-color-90: #474d5354;
  --border-color-100: #4a4a4ca1;
  --border-color-110: #473d3b;
  --border-color-120: #474d53;

  // container
  --container-width: 1513px;
  --container-padding: 15px;

  @include mini-desktop {
    --container-width: 1000px;
  }

  @include tablet {
    --container-width: 800px;
  }

  @include mobile {
    --container-width: 480px;
  }

  // single-container
  --single-container-width: 1168px;

  // transition
  --transition: 0.2s ease-in-out;

  // z-index
  --z-index-minus-1: -1;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
}
