<section class="projects-scam">
  <div class="container">
    <div class="projects-scam__wrapper">
      <div class="projects-scam__top">
        <div class="projects-scam__info">
          <h3 class="projects-scam__title">Scam List</h3>
          <span class="projects-scam__count">545 скам проектов</span>
        </div>
        <div class="projects-scam__actions">
          <form class="projects-scam__search" role="search">
            <label class="rojects-scam__search-label">
              <input
                class="rojects-scam__search-input"
                placeholder="Поиск"
                type="search"
                autocomplete="off"
                aria-label="Поиск по проектам"
              />
            </label>
          </form>
          <a class="projects-scam__button button" href="#">Добавить скам-проект</a>
        </div>
      </div>
      <div class="projects-scam__bottom">
        <ul class="projects-scam__list">
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
          <li class="projects-scam__card">
            <img
              width="55"
              height="55"
              class="projects-scam__card-icon"
              src="./assets/icons/binance-coin-icon.svg"
              alt="Иконка биткоина"
            />
            <h3 class="projects-scam__card-title">Binance Coin</h3>
            <p class="projects-scam__card-date">дата добавления: 20.03.2025</p>
            <a class="projects-scam__card-link" href="#">Подробнее</a>
          </li>
        </ul>
        <ul class="projects-scam__pagination">
          <li class="projects-scam__pagination-item">
            <a class="projects-scam__link projects-scam__link--prev" href="#">
              <svg
                width="9"
                height="12"
                viewBox="0 0 9 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.15997 1.41L3.57997 6L8.15997 10.59L6.74997 12L0.749973 6L6.74997 0L8.15997 1.41Z"
                  fill="#BDBDBD"
                />
              </svg>
            </a>
          </li>
          <li class="projects-scam__pagination-item">
            <a class="projects-scam__link" href="#">1</a>
          </li>
          <li class="projects-scam__pagination-item">
            <a class="projects-scam__link" href="#">2</a>
          </li>
          <li class="projects-scam__pagination-item">
            <a class="projects-scam__link projects-scam__link--center" href="#">...</a>
          </li>
          <li class="projects-scam__pagination-item">
            <a class="projects-scam__link" href="#">9</a>
          </li>
          <li class="projects-scam__pagination-item">
            <a class="projects-scam__link" href="#">10</a>
          </li>
          <li class="projects-scam__pagination-item">
            <a class="projects-scam__link projects-scam__link--next" href="#">
              <svg
                width="9"
                height="12"
                viewBox="0 0 9 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.839966 1.41L5.41997 6L0.839966 10.59L2.24997 12L8.24997 6L2.24997 0L0.839966 1.41Z"
                  fill="white"
                />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
