<section class="questions">
  <div class="container questions__container">
    <ul class="questions__list">
      <li class="questions__item">
        <a class="questions__control" href="#">
          <span class="questions__control-icon"></span>
          <h3 class="questions__control-title">Как проходит проверка и верификация проекта ?</h3>
          <p class="questions__control-description">
            Узнайте, какие этапы должен пройти проект для успешной верификации!
          </p>
        </a>
        <p class="questions__content">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
          personalized 30-minute onboarding call to get you up and running as soon as possible.
        </p>
      </li>
      <li class="questions__item">
        <a class="questions__control" href="#">
          <span class="questions__control-icon"></span>
          <h3 class="questions__control-title">
            Насколько безопасны белые проекты для инвестирования ?
          </h3>
          <p class="questions__control-description">
            Узнайте, какие гарантии безопасности вы получаете при вложении в белые проекты
          </p>
        </a>
        <p class="questions__content">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
          personalized 30-minute onboarding call to get you up and running as soon as possible.
        </p>
      </li>
    </ul>
  </div>
</section>
