<section class="news">
  <div class="container">
    <h2 class="news__title heading-h2">Новости</h2>
    <p class="news__description">
      ScamHunter Shield — это проекты, которые прошли проверку ScamHunter на предмет мошенничества.
    </p>
    <ul class="news__list">
      <li class="news__card">
        <a class="news__card-link" href="#">
          <div class="news__card-img">
            <img
              width="357"
              height="396"
              src="./assets/images/news-card-img.jpg"
              alt="Фото чего-то"
            />
          </div>
          <h3 class="news__card-title">
            Компания получила рекордные инвестиции благодаря прозрачности операций
          </h3>
          <div class="news__card-info">
            <ol class="news__card-meta">
              <li class="news__card-date news__card-meta-item">
                <img src="./assets/icons/calendar-icon.svg" alt="Иконка" /> 23.06.2025
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-views news__card-meta-item">
                <img src="./assets/icons/eye-icon.svg" alt="Иконка" /> 55
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-comments news__card-meta-item">
                <img src="./assets/icons/comment-icon.svg" alt="Иконка" /> 7
              </li>
            </ol>
            <ol class="news__card-reactions">
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
            </ol>
          </div>
        </a>
      </li>
      <li class="news__card">
        <a class="news__card-link" href="#">
          <div class="news__card-img">
            <img
              width="357"
              height="396"
              src="./assets/images/news-card-img.jpg"
              alt="Фото чего-то"
            />
          </div>
          <h3 class="news__card-title">
            Компания получила рекордные инвестиции благодаря прозрачности операций
          </h3>
          <div class="news__card-info">
            <ol class="news__card-meta">
              <li class="news__card-date news__card-meta-item">
                <img src="./assets/icons/calendar-icon.svg" alt="Иконка" /> 23.06.2025
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-views news__card-meta-item">
                <img src="./assets/icons/eye-icon.svg" alt="Иконка" /> 55
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-comments news__card-meta-item">
                <img src="./assets/icons/comment-icon.svg" alt="Иконка" /> 7
              </li>
            </ol>
            <ol class="news__card-reactions">
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
            </ol>
          </div>
        </a>
      </li>
      <li class="news__card">
        <a class="news__card-link" href="#">
          <div class="news__card-img">
            <img
              width="357"
              height="396"
              src="./assets/images/news-card-img.jpg"
              alt="Фото чего-то"
            />
          </div>
          <h3 class="news__card-title">
            Компания получила рекордные инвестиции благодаря прозрачности операций
          </h3>
          <div class="news__card-info">
            <ol class="news__card-meta">
              <li class="news__card-date news__card-meta-item">
                <img src="./assets/icons/calendar-icon.svg" alt="Иконка" /> 23.06.2025
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-views news__card-meta-item">
                <img src="./assets/icons/eye-icon.svg" alt="Иконка" /> 55
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-comments news__card-meta-item">
                <img src="./assets/icons/comment-icon.svg" alt="Иконка" /> 7
              </li>
            </ol>
            <ol class="news__card-reactions">
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
            </ol>
          </div>
        </a>
      </li>
      <li class="news__card">
        <a class="news__card-link" href="#">
          <div class="news__card-img">
            <img
              width="357"
              height="396"
              src="./assets/images/news-card-img.jpg"
              alt="Фото чего-то"
            />
          </div>
          <h3 class="news__card-title">
            Компания получила рекордные инвестиции благодаря прозрачности операций
          </h3>
          <div class="news__card-info">
            <ol class="news__card-meta">
              <li class="news__card-date news__card-meta-item">
                <img src="./assets/icons/calendar-icon.svg" alt="Иконка" /> 23.06.2025
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-views news__card-meta-item">
                <img src="./assets/icons/eye-icon.svg" alt="Иконка" /> 55
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-comments news__card-meta-item">
                <img src="./assets/icons/comment-icon.svg" alt="Иконка" /> 7
              </li>
            </ol>
            <ol class="news__card-reactions">
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
            </ol>
          </div>
        </a>
      </li>
      <li class="news__card">
        <a class="news__card-link" href="#">
          <div class="news__card-img">
            <img
              width="357"
              height="396"
              src="./assets/images/news-card-img.jpg"
              alt="Фото чего-то"
            />
          </div>
          <h3 class="news__card-title">
            Компания получила рекордные инвестиции благодаря прозрачности операций
          </h3>
          <div class="news__card-info">
            <ol class="news__card-meta">
              <li class="news__card-date news__card-meta-item">
                <img src="./assets/icons/calendar-icon.svg" alt="Иконка" /> 23.06.2025
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-views news__card-meta-item">
                <img src="./assets/icons/eye-icon.svg" alt="Иконка" /> 55
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-comments news__card-meta-item">
                <img src="./assets/icons/comment-icon.svg" alt="Иконка" /> 7
              </li>
            </ol>
            <ol class="news__card-reactions">
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
            </ol>
          </div>
        </a>
      </li>
      <li class="news__card">
        <a class="news__card-link" href="#">
          <div class="news__card-img">
            <img
              width="357"
              height="396"
              src="./assets/images/news-card-img.jpg"
              alt="Фото чего-то"
            />
          </div>
          <h3 class="news__card-title">
            Компания получила рекордные инвестиции благодаря прозрачности операций
          </h3>
          <div class="news__card-info">
            <ol class="news__card-meta">
              <li class="news__card-date news__card-meta-item">
                <img src="./assets/icons/calendar-icon.svg" alt="Иконка" /> 23.06.2025
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-views news__card-meta-item">
                <img src="./assets/icons/eye-icon.svg" alt="Иконка" /> 55
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-comments news__card-meta-item">
                <img src="./assets/icons/comment-icon.svg" alt="Иконка" /> 7
              </li>
            </ol>
            <ol class="news__card-reactions">
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
            </ol>
          </div>
        </a>
      </li>
      <li class="news__card">
        <a class="news__card-link" href="#">
          <div class="news__card-img">
            <img
              width="357"
              height="396"
              src="./assets/images/news-card-img.jpg"
              alt="Фото чего-то"
            />
          </div>
          <h3 class="news__card-title">
            Компания получила рекордные инвестиции благодаря прозрачности операций
          </h3>
          <div class="news__card-info">
            <ol class="news__card-meta">
              <li class="news__card-date news__card-meta-item">
                <img src="./assets/icons/calendar-icon.svg" alt="Иконка" /> 23.06.2025
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-views news__card-meta-item">
                <img src="./assets/icons/eye-icon.svg" alt="Иконка" /> 55
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-comments news__card-meta-item">
                <img src="./assets/icons/comment-icon.svg" alt="Иконка" /> 7
              </li>
            </ol>
            <ol class="news__card-reactions">
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
            </ol>
          </div>
        </a>
      </li>
      <li class="news__card">
        <a class="news__card-link" href="#">
          <div class="news__card-img">
            <img
              width="357"
              height="396"
              src="./assets/images/news-card-img.jpg"
              alt="Фото чего-то"
            />
          </div>
          <h3 class="news__card-title">
            Компания получила рекордные инвестиции благодаря прозрачности операций
          </h3>
          <div class="news__card-info">
            <ol class="news__card-meta">
              <li class="news__card-date news__card-meta-item">
                <img src="./assets/icons/calendar-icon.svg" alt="Иконка" /> 23.06.2025
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-views news__card-meta-item">
                <img src="./assets/icons/eye-icon.svg" alt="Иконка" /> 55
              </li>
              <span class="news__card-meta-separator"></span>
              <li class="news__card-comments news__card-meta-item">
                <img src="./assets/icons/comment-icon.svg" alt="Иконка" /> 7
              </li>
            </ol>
            <ol class="news__card-reactions">
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
              <li class="news__card-reaction"><span>😍</span> 424</li>
            </ol>
          </div>
        </a>
      </li>
    </ul>
    <ul class="news__pagination">
      <li class="news__pagination-item">
        <a
          class="news__pagination-link news__pagination-link--not-active news__pagination-link--prev"
          href="#"
        >
          <svg
            width="9"
            height="12"
            viewBox="0 0 9 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.15997 1.41L3.57997 6L8.15997 10.59L6.74997 12L0.749973 6L6.74997 0L8.15997 1.41Z"
              fill="#BDBDBD"
            />
          </svg>
        </a>
      </li>
      <li class="news__pagination-item">
        <a class="news__pagination-link news__pagination-link--active" href="#">1</a>
      </li>
      <li class="news__pagination-item">
        <a class="news__pagination-link" href="#">2</a>
      </li>
      <li class="news__pagination-item">
        <a class="news__pagination-link news__pagination-link--center" href="#">...</a>
      </li>
      <li class="news__pagination-item">
        <a class="news__pagination-link" href="#">9</a>
      </li>
      <li class="news__pagination-item">
        <a class="news__pagination-link" href="#">10</a>
      </li>
      <li class="news__pagination-item">
        <a class="news__pagination-link news__pagination-link--next" href="#">
          <svg
            width="9"
            height="12"
            viewBox="0 0 9 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.839966 1.41L5.41997 6L0.839966 10.59L2.24997 12L8.24997 6L2.24997 0L0.839966 1.41Z"
              fill="white"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
