<section class="reactions">
  <div class="container">
    <div class="single-container">
      <h3 class="reactions__title">Ваше мнение</h3>
      <div class="reactions__right">
        <p class="reactions__description">
          Оставьте реакцию на прочтенную статью, чтобы мы лучше поняли, что вам нравится:
        </p>
        <ul class="reactions__right-list">
          <li class="reactions__right-item">
            <a class="reactions__right-link" href="#"><span>😍</span>424</a>
          </li>
          <li class="reactions__right-item">
            <a class="reactions__right-link" href="#"><span>😍</span>424</a>
          </li>
          <li class="reactions__right-item">
            <a class="reactions__right-link" href="#"><span>😍</span>424</a>
          </li>
          <li class="reactions__right-item">
            <a class="reactions__right-link" href="#"><span>😍</span>424</a>
          </li>
          <li class="reactions__right-item">
            <a class="reactions__right-link" href="#"><span>😍</span>424</a>
          </li>
          <li class="reactions__right-item">
            <a class="reactions__right-link" href="#"><span>😍</span>424</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
