<section class="about">
  <div class="container about__container">
    <h2 class="about__title">О нашей компании</h2>
    <p class="about__subtitle heading-h2">Что такое ScamHunter?</p>
    <ul class="about__info">
      <li class="about__card">
        <h3 class="about__card-title">Миссия проекта</h3>
        <p class="about__card-description">
          ScamHunter ставит перед собой амбициозную цель — сделать криптоиндустрию немного
          безопасной. Мы занимаемся верификацией проектов, проверке их на мошенничество и
          установлению фактов обмана. <br /><br />
          Наша задача — создать единую международную базу мошенников, чтобы защитить честных
          участников рынка и предотвратить новые случаи fraud
        </p>
      </li>
      <li class="about__card">
        <h3 class="about__card-title">Наши цели:</h3>
        <ol class="about__card-list">
          <li class="about__card-item">
            <span class="about__card-icon">
              <img loading="lazy" width="7" height="6" src="./assets/icons/tick.svg" alt="Иконка галочки" />
            </span>
            Объединение пострадавших от крипто скама, сбор доказательств мошенничества.
          </li>
          <li class="about__card-item">
            <span class="about__card-icon">
              <img loading="lazy" width="7" height="6" src="./assets/icons/tick.svg" alt="Иконка галочки" />
            </span>
            Создание международной базы мошенников в криптоиндустрии.
          </li>
          <li class="about__card-item">
            <span class="about__card-icon">
              <img loading="lazy" width="7" height="6" src="./assets/icons/tick.svg" alt="Иконка галочки" />
            </span>
            Привлечение создателей скам-проектов к уголовной ответственности и общественному
            порицанию.
          </li>
          <li class="about__card-item">
            <span class="about__card-icon">
              <img loading="lazy" width="7" height="6" src="./assets/icons/tick.svg" alt="Иконка галочки" />
            </span>
            Верификация проектов и выявление мошеннических схем
          </li>
          <li class="about__card-item">
            <span class="about__card-icon">
              <img loading="lazy" width="7" height="6" src="./assets/icons/tick.svg" alt="Иконка галочки" />
            </span>
            Обучение новых участников рынка, как распознавать и противостоять мошенничеству.
          </li>
        </ol>
      </li>
      <li class="about__card">
        <h3 class="about__card-title">Почему это важно?</h3>
        <p class="about__card-description">
          Криптоиндустрия — это будущее, но её рост омрачается недобросовестными игроками.
          ScamHunter выступает как защитник интересов сообщества, обеспечивая безопасность,
          прозрачность и доверие. Мы верим, что вместе сможем сделать криптомир лучше!
        </p>
      </li>
    </ul>
    <picture>
      <source media="(max-width: 576px)" srcset="./assets/images/about-bg--mobile.png" />
      <img loading="lazy"
        width="1149"
        height="950"
        class="about__background"
        src="./assets/images/about-bg.png"
        alt="Зелёная неоновая полоса"
      />
    </picture>
  </div>
</section>
