<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title hidden">Scam Hunt</h2>
    <p class="hero__description hero__description--left">
      Делаем криптомир безопаснее — <span>разоблачение мошенников с ScamHunter.</span>
    </p>
    <picture>
      <source media="(max-width: 992px)" srcset="./assets/images/magnifier--mobile.png" />
      <img width="957" height="609" class="hero__title-decor" src="./assets/images/magnifier.png" alt="Изображена лупа" />
    </picture>
    <picture>
      <source media="(max-width: 576px)" srcset="./assets/icons/hero-title-text--mobile.svg" />
      <img
        width="1877"
        height="827"
        class="hero__title-decor-text"
        src="./assets/icons/hero-title-text.svg"
        alt="Текст: Scam Hunt"
      />
    </picture>
    <p class="hero__description hero__description--right">
      Ваша защита от скама: международная
      <span>база мошенников и проверенные проекты на одном сайте.</span>
    </p>
  </div>
</section>
