<section class="support">
  <div class="container">
    <h2 class="support__title">Рост нашей компании</h2>
    <p class="support__subtitle heading-h2">Поддержка проекта</p>
    <ul class="support__list">
      <li class="support__item">
        <div class="support__item-top">
          <span class="support__item-icon">
            <img src="./assets/icons/graph-arrow-green.svg" alt="Иконка изображающая" />
          </span>
          <span class="support__item-count">001.</span>
          <h3 class="support__item-title">Финансовая поддержка проекта</h3>
          <p class="support__item-description">
            Фонд проекта выплаты хантерам, техническая разработку продукта,&nbsp;реклама
          </p>
        </div>
        <a class="support__item-button" href="#">
          <span>
            <img src="./assets/icons/star.svg" alt="Иконка изображающая" />Поддержать проект
          </span>
        </a>
      </li>
      <li class="support__item">
        <div class="support__item-top">
          <span class="support__item-icon">
            <img src="./assets/icons/planet-green.svg" alt="Иконка изображающая" />
          </span>
          <span class="support__item-count">002.</span>
          <h3 class="support__item-title">Медиа помощь</h3>
          <p class="support__item-description">
            Помогите повысить узнаваемость проекта ScamHunter, расскажи о&nbsp;нашем&nbsp;проекте в
            своих соц&nbsp;сетях 
          </p>
        </div>
        <a class="support__item-button" href="#">
          <span>
            <img src="./assets/icons/message.svg" alt="Иконка изображающая" />Рассказать о
            скам-хантер
          </span>
        </a>
      </li>
      <li class="support__item">
        <div class="support__item-top">
          <span class="support__item-icon">
            <img src="./assets/icons/tick-green.svg" alt="Иконка изображающая" />
          </span>
          <span class="support__item-count">003.</span>
          <h3 class="support__item-title">Купить ScamHunter&nbsp;токен</h3>
          <p class="support__item-description">Поддержи идею сообщества и&nbsp;курс ScamHunter.</p>
        </div>
        <a class="support__item-button" href="#">
          <span><img src="./assets/icons/coins.svg" alt="Иконка изображающая" />Купить</span>
        </a>
      </li>
      <li class="support__item">
        <div class="support__item-top">
          <span class="support__item-icon">
            <img src="./assets/icons/letter-green.svg" alt="Иконка изображающая" />
          </span>
          <span class="support__item-count">004.</span>
          <h3 class="support__item-title">Поделись полезной информацией</h3>
          <p class="support__item-description">Новые инструменты и способы поиска, анализа скама</p>
        </div>
        <a class="support__item-button" href="#">
          <span>
            <img src="./assets/icons/people.svg" alt="Иконка изображающая" />Написать команде
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
