<section class="support">
  <div class="container">
    <h2 class="support__title">Рост нашей компании</h2>
    <p class="support__subtitle">Поддержка проекта</p>
    <ul class="support__list">
      <li class="support__item">
        <div class="support__item-top">
          <span class="support__item-icon">
            <img src="./assets/" alt="Иконка изображающая" />
          </span>
          <span class="support__item-count">001.</span>
          <h3 class="support__item-title">Финансовая поддержка проекта</h3>
          <p class="support__item-description">
            Фонд проекта выплаты хантерам, техническая разработку продукта, реклама
          </p>
        </div>
        <a class="support__item-button" href="#">
          <img src="./assets/icons/star.svg" alt="" />Поддержать проект
        </a>
      </li>
      <li class="support__item">
        <div class="support__item-top">
          <span class="support__item-icon">
            <img src="./assets/" alt="Иконка изображающая" />
          </span>
          <span class="support__item-count">002.</span>
          <h3 class="support__item-title">Медиа помощь</h3>
          <p class="support__item-description">
            Помогите повысить узнаваемость проекта ScamHunter, расскажи о нашем проекте в своих соц
            сетях 
          </p>
        </div>
        <a class="support__item-button" href="#">
          <img src="./assets/icons/message.svg" alt="" />Рассказать о скам-хантер
        </a>
      </li>
      <li class="support__item">
        <div class="support__item-top">
          <span class="support__item-icon">
            <img src="./assets/" alt="Иконка изображающая" />
          </span>
          <span class="support__item-count">003.</span>
          <h3 class="support__item-title">Купить ScamHunter токен</h3>
          <p class="support__item-description">Поддержи идею сообщества и курс ScamHunter.</p>
        </div>
        <a class="support__item-button" href="#">
          <img src="./assets/icons/coins.svg" alt="" />Купить
        </a>
      </li>
      <li class="support__item">
        <div class="support__item-top">
          <span class="support__item-icon">
            <img src="./assets/" alt="Иконка изображающая" />
          </span>
          <span class="support__item-count">004.</span>
          <h3 class="support__item-title">Поделись полезной информацией</h3>
          <p class="support__item-description">Новые инструменты и способы поиска, анализа скама</p>
        </div>
        <a class="support__item-button" href="#">
          <img src="./assets/icons/people.svg" alt="" />Написать команде
        </a>
      </li>
    </ul>
  </div>
</section>
