<section class="about">
  <div class="container">
    <div class="single-container about__container">
      <h2 class="about__title">Обнаружение</h2>
      <div class="about__right">
        <p class="about__right-description">
          Наша команда регулярно мониторит криптопространство в поисках сомнительных схем. В этот
          раз нам на глаза попался проект, который обещал вкладчикам баснословную прибыль за
          короткий срок на инвестициях в малоизвестную криптовалюту.
        </p>
        <h3 class="about__right-title">Основные признаки скама в проекте:</h3>
        <p class="about__right-description">
          &ensp;&bull;&ensp;поддельные положительные отзывы <br />
          &ensp;&bull;&ensp;нет ясной дорожной карты развития <br />
          &ensp;&bull;&ensp;анонимная команда без подтверждённой репутации <br />
          &ensp;&bull;&ensp;несостыковки в юридической информации <br />
          &ensp;&bull;&ensp;агрессивная реклама и обещания нереальной доходности
        </p>
      </div>
    </div>
  </div>
</section>
