<section class="features">
  <div class="container">
    <div class="single-container features__container">
      <h2 class="features__title">Что мы создаём</h2>
      <div class="features__right">
        <h3 class="features__right-title">Активное взаимодействие с представителями</h3>
        <p class="features__right-description">
          Чтобы получить больше информации, мы вступили в диалог с создателями проекта. Мы
          подготовили список вопросов, направленных на проверку легитимности и прозрачности их
          деятельности.
        </p>
        <blockquote class="features__right-quote">
          На большинство наших запросов представители так и не дали четких, обоснованных ответов.
        </blockquote>
      </div>
    </div>
  </div>
</section>
