@import './mixins';
@import './base';
@import './globals';

// components
@import './components/header';
@import './components/home/hero';
@import './components/projects-scam';
@import './components/projects-shield';
@import './components/home/about';
@import './components/home/support';
@import './components/footer';

// custom css
.projects-scam {
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 20px;
  }
}

.projects-shield {
  margin-bottom: 106px;

  @include mobile {
    margin-bottom: 55px;
  }
}
