@import 'mixins';
@import 'base';
@import 'globals';

// components
@import 'components/header';
@import 'components/token/hero';
@import 'components/token/partners';
@import 'components/token/tokenomics';
@import 'components/token/about-token';
@import 'components/questions';
@import 'components/footer';

// custom css
.questions {
  margin-bottom: 92px;

  @include mobile {
    margin-bottom: 0;
    transform: translateY(-66px);
  }
}
