<section class="about-token">
  <div class="container about-token__container">
    <div class="about-token__info">
      <div class="about-token__head">
        <h2 class="about-token__title">О нашем токене</h2>
        <p class="about-token__subtitle heading-h2">Зачем был создан токен ScamHunter?</p>
        <p class="about-token__description">
          У токена ScamHunter множество важных задач, направленных на создание безопасной и
          справедливой экосистемы в криптоиндустрии.
        </p>
      </div>
        <ul class="about-token__list">
          <li class="about-token__item">
            <div class="about-token__item-top">
              <h3 class="about-token__item-title">
                Объединение <br />
                сообщества
              </h3>
              <span class="about-token__item-count">01</span>
            </div>
            <p class="about-token__item-description">
              ScamHunter привлекает и объединяет людей по всему миру, чтобы вместе бороться с
              мошенническими проектами. Только совместными усилиями мы можем выявлять и предотвращать
              скам, защищая интересы честных участников рынка.
            </p>
          </li>
          <li class="about-token__item">
            <div class="about-token__item-top">
              <h3 class="about-token__item-title">Объединение сообщества</h3>
              <span class="about-token__item-count">02</span>
            </div>
            <p class="about-token__item-description">
              ScamHunter привлекает и объединяет людей по всему миру, чтобы вместе бороться с
              мошенническими проектами. Только совместными усилиями мы можем выявлять и предотвращать
              скам, защищая интересы честных участников рынка.
            </p>
          </li>
          <li class="about-token__item">
            <div class="about-token__item-top">
              <h3 class="about-token__item-title">Объединение сообщества</h3>
              <span class="about-token__item-count">03</span>
            </div>
            <p class="about-token__item-description">
              ScamHunter привлекает и объединяет людей по всему миру, чтобы вместе бороться с
              мошенническими проектами. Только совместными усилиями мы можем выявлять и предотвращать
              скам, защищая интересы честных участников рынка.
            </p>
          </li>
        </ul>
    </div>
    <div class="about-token__decor">
      <img
        width="633"
        height="949"
        src="./assets/images/about-token-shield-decor.png"
        alt="Изображение щита с черепом"
      />
    </div>
  </div>
</section>
