<section class="about-token">
  <div class="container about-token__container">
    <div class="about-token__info">
      <div class="about-token__head">
        <div class="about-token__decor-text">
          <img
            width="1402"
            height="645"
            src="./assets/images/about-token-sca-text-decor.png"
            alt="Текст: scam"
          />
        </div>
        <h2 class="about-token__title">О нашем токене</h2>
        <p class="about-token__subtitle heading-h2">Зачем был создан токен ScamHunter?</p>
        <p class="about-token__description">
          У токена ScamHunter множество важных задач, направленных на создание безопасной и
          справедливой экосистемы в криптоиндустрии.
        </p>
      </div>
      <div class="about-token__slider swiper">
        <ul class="about-token__list swiper-wrapper">
          <li class="about-token__item swiper-slide">
            <div class="about-token__item-top">
              <h3 class="about-token__item-title">
                Объединение <br />
                сообщества
              </h3>
              <span class="about-token__item-count">01</span>
            </div>
            <p class="about-token__item-description">
              ScamHunter привлекает и объединяет людей по всему миру, чтобы вместе бороться с
              мошенническими проектами. Только совместными усилиями мы можем выявлять и
              предотвращать скам, защищая интересы честных участников рынка.
            </p>
          </li>
          <li class="about-token__item swiper-slide">
            <div class="about-token__item-top">
              <h3 class="about-token__item-title">
                Механика <br />
                работы проекта
              </h3>
              <span class="about-token__item-count">02</span>
            </div>
            <p class="about-token__item-description">
              Токен ScamHunter играет ключевую роль в функционировании проекта. Он является основным
              инструментом взаимодействия внутри&nbsp;сообщества:
            </p>
            <ul class="about-token__item-description-list">
              <li class="about-token__item-description-item">
                Токен ScamHunter используется как оплата за услуги верификации.
              </li>
              <li class="about-token__item-description-item">
                Токен ScamHunter используется как оплата за услуги аудита криптопрокта на скам.
              </li>
              <li class="about-token__item-description-item">
                Голосование за важные решения и инициативы проекта.
              </li>
              <li class="about-token__item-description-item">
                Доступ к эксклюзивным возможностям и ресурсам ScamHunter.
              </li>
            </ul>
          </li>
          <li class="about-token__item swiper-slide">
            <div class="about-token__item-top">
              <h3 class="about-token__item-title">
                Создание фонда для <br />
                функционирования и&nbsp;развития&nbsp;проекта.
              </h3>
              <span class="about-token__item-count">03</span>
            </div>
            <p class="about-token__item-description">
              ScamHunter создаёт специальный фонд, который будет направлен на финансирование
              ключевых задач проекта:
            </p>
            <ul class="about-token__item-description-list">
              <li class="about-token__item-description-item">
                Выплаты иследователям охоникам которые выявили факт мошенничества.
              </li>
              <li class="about-token__item-description-item">
                Выплаты охотникам исполнителям кторые иницировали наказание крипто-мошенников.
              </li>
              <li class="about-token__item-description-item">
                Поддержка юридических инициатив по привлечению мошенников к ответственности.
              </li>
              <li class="about-token__item-description-item">
                Образовательные программы для новых участников крипторынка.
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="about-token__decor">
      <img
        width="633"
        height="949"
        src="./assets/images/about-token-shield-decor.png"
        alt="Изображение щита с черепом"
      />
    </div>
  </div>
</section>
