<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title hidden">Токен</h2>
    <p class="hero__description">Официальный токен <span>проекта ScamHunter</span></p>
    <picture>
      <source
        media="(max-width: 992px)"
        srcset="./assets/icons/hero-token-title-text--mobile.svg"
      />
      <img
        width="2045"
        height="818"
        class="hero__title-decor"
        src="./assets/icons/hero-token-title-text.svg"
        alt="Текст: Токен"
      />
    </picture>
    <a class="hero__button button" href="#">Купить Token</a>
  </div>
</section>
