<section class="partners">
  <div class="container partners__container">
    <div class="partners__wrapper">
      <h2 class="partners__title">Наши партнеры</h2>
      <div class="partners__slider swiper">
        <ul class="partners__list swiper-wrapper">
          <li class="partners__item swiper-slide">
            <div class="partners__item-img">
              <img
                loading="lazy"
                width="60"
                height="60"
                src="./assets/images/partners-item-1.png"
                alt="Иконка партнёра"
              />
            </div>
            <h3 class="partners__item-name">Binance</h3>
          </li>
          <li class="partners__item swiper-slide">
            <div class="partners__item-img">
              <img
                loading="lazy"
                width="70"
                height="70"
                src="./assets/images/partners-item-2.png"
                alt="Иконка партнёра"
              />
            </div>
            <h3 class="partners__item-name">Bit Future</h3>
          </li>
          <li class="partners__item swiper-slide">
            <div class="partners__item-img">
              <img
                loading="lazy"
                width="96"
                height="55"
                src="./assets/images/partners-item-3.png"
                alt="Иконка партнёра"
              />
            </div>
            <h3 class="partners__item-name">PHP</h3>
          </li>
          <li class="partners__item swiper-slide">
            <div class="partners__item-img">
              <img
                loading="lazy"
                width="70"
                height="70"
                src="./assets/images/partners-item-2.png"
                alt="Иконка партнёра"
              />
            </div>
            <h3 class="partners__item-name">Bit Future</h3>
          </li>
          <li class="partners__item swiper-slide">
            <div class="partners__item-img">
              <img
                loading="lazy"
                width="60"
                height="60"
                src="./assets/images/partners-item-1.png"
                alt="Иконка партнёра"
              />
            </div>
            <h3 class="partners__item-name">Binance</h3>
          </li>
          <li class="partners__item swiper-slide">
            <div class="partners__item-img">
              <img
                loading="lazy"
                width="70"
                height="70"
                src="./assets/images/partners-item-2.png"
                alt="Иконка партнёра"
              />
            </div>
            <h3 class="partners__item-name">Bit Future</h3>
          </li>
          <li class="partners__item swiper-slide">
            <div class="partners__item-img">
              <img
                loading="lazy"
                width="60"
                height="60"
                src="./assets/images/partners-item-1.png"
                alt="Иконка партнёра"
              />
            </div>
            <h3 class="partners__item-name">Binance</h3>
          </li>
          <li class="partners__item swiper-slide">
            <div class="partners__item-img">
              <img
                loading="lazy"
                width="70"
                height="70"
                src="./assets/images/partners-item-2.png"
                alt="Иконка партнёра"
              />
            </div>
            <h3 class="partners__item-name">Bit Future</h3>
          </li>
          <li class="partners__item swiper-slide">
            <div class="partners__item-img">
              <img
                loading="lazy"
                width="60"
                height="60"
                src="./assets/images/partners-item-1.png"
                alt="Иконка партнёра"
              />
            </div>
            <h3 class="partners__item-name">Binance</h3>
          </li>
          <li class="partners__item swiper-slide">
            <div class="partners__item-img">
              <img
                loading="lazy"
                width="70"
                height="70"
                src="./assets/images/partners-item-2.png"
                alt="Иконка партнёра"
              />
            </div>
            <h3 class="partners__item-name">Bit Future</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
