<section class="tokenomics">
  <div class="container">
    <h2 class="tokenomics__title">О нашей токеномике</h2>
    <p class="tokenomics__subtitle heading-h2">Токеномика</p>
    <ul class="tokenomics__list">
      <li class="tokenomics__item">
        <div class="tokenomics__item-img">
          <img
            loading="lazy"
            width="449"
            height="263"
            src="./assets/images/tokenomics-item-decor-1.png"
            alt="Декоративные квадраты"
          />
        </div>
        <h3 class="tokenomics__item-title">1 млрд</h3>
        <p class="tokenomics__item-description">Общее количество монет</p>
      </li>
      <li class="tokenomics__item">
        <div class="tokenomics__item-img">
          <img
            loading="lazy"
            width="476"
            height="254"
            src="./assets/images/tokenomics-item-decor-2.png"
            alt="Декоративный знак бесконечности"
          />
        </div>
        <h3 class="tokenomics__item-title">0%</h3>
        <p class="tokenomics__item-description">Комиссия покупки и продажи</p>
      </li>
      <li class="tokenomics__item">
        <div class="tokenomics__item-img">
          <img
            loading="lazy"
            width="478"
            height="446"
            src="./assets/images/tokenomics-item-decor-3.png"
            alt="Декоративный огонь"
          />
        </div>
        <h3 class="tokenomics__item-title">утиль</h3>
        <p class="tokenomics__item-description">Контролируемое сжигание</p>
      </li>
    </ul>
  </div>
</section>
