.button {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.05;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-color-30);
  background-color: var(--accent-color-10);
}
