.heading {
  &-h2 {
    font-family: Furore, sans-serif;
    font-size: 74px;
    line-height: 1.05;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #fff 69.19%, #fff0 70.97%, #fff 89.9%);
    background-clip: text;

    @include mini-desktop {
      font-size: 64px;
    }

    @include tablet {
      font-size: 45px;
    }

    @include mobile {
      margin-bottom: 39px;
      font-size: 41px;
      background: linear-gradient(180deg, #fff 82.45%, #fff0 83.49%, #fff 94.68%);
      background-clip: text;
    }
  }
}
